In [1]:
%pip install -q opendatasets

import opendatasets as od
import pandas as pd

Note: you may need to restart the kernel to use updated packages.

C:\Users\igors\AppData\Local\Temp\ipykernel_20880\3706241865.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# insert ypu kaggle  username and key
od.download('https://www.kaggle.com/datasets/paramaggarwal/fashion-product-images-small',data_dir="dataset")

Skipping, found downloaded files in "dataset\fashion-product-images-small" (use force=True to force download)

In [3]:
df = pd.read_csv('dataset/fashion-product-images-small/styles.csv', on_bad_lines='skip')
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [4]:
sample_df = df.sample(n=2000, random_state=0)
sample_df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
1665,49093,Women,Personal Care,Lips,Lip Liner,Mauve,Spring,2017.0,Casual,Deborah 24 Ore Lip Liner 220
411,59600,Women,Apparel,Saree,Sarees,Rust,Fall,2012.0,Ethnic,FNF Rust Wedding Collection Sari
23153,6815,Men,Footwear,Shoes,Casual Shoes,Brown,Fall,2012.0,Casual,Timberland Men's Chocorua Trail Brown Shoe
10894,54869,Women,Accessories,Jewellery,Necklace and Chains,Gold,Fall,2012.0,Casual,Ivory Tag Women Colour Interplay Multicolour N...
20533,37638,Men,Accessories,Accessories,Accessory Gift Set,Tan,Summer,2012.0,Casual,Wills Lifestyle Men Leather Accessory Gift Set

In [ ]:
%pip install sweetviz
import sweetviz as sv

In [8]:
sample_report = sv.analyze(sample_df, pairwise_analysis="on")

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

In [9]:
sample_report.show_html(layout='vertical')

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.